In [1]:
import requests
from bs4 import BeautifulSoup as bf
from urllib.request import urlopen 
import logging

In [87]:
string1 = input("enter the string")
x = string1.split()
string1 ="-".join(x)
string1

enter the stringmotorola G32 mineral gray 128 gb p765617

'motorola-G32-mineral-gray-128-gb-p765617'

In [88]:
prize_url = "https://www.pricebefore.com/"+string1+".html"

In [89]:
prize_url

'https://www.pricebefore.com/motorola-G32-mineral-gray-128-gb-p765617.html'

In [90]:
client = urlopen(prize_url)

In [91]:
client

In [92]:
prize_page = client.read()

In [93]:
prize_html = bf(prize_page,'html.parser')

In [94]:
bigbox = prize_html.findAll("div",{"class":"item"})

In [95]:
total_prize = len(bigbox)

In [96]:
for i in range(total_prize):
    prize = bigbox[i].div.text
    print(prize)

Current Price*
Lowest Price
Highest Price
Current Price*
Lowest Price
Highest Price

In [97]:
a = []
for i in range(total_prize):
    prize = bigbox[i].text
    a.append(prize)

In [98]:
a

['\nCurrent Price*\n₹10,999\n',
 '\nLowest Price\n₹9,999\n',
 '\nHighest Price\n₹12,099\n',
 '\nCurrent Price*\n₹10,999\n',
 '\nLowest Price\n₹9,999\n',
 '\nHighest Price\n₹12,099\n']

In [99]:
b= []
for i in a:
    c = i.split('\n')
    b.append(c)

In [100]:
b

[['', 'Current Price*', '₹10,999', ''],
 ['', 'Lowest Price', '₹9,999', ''],
 ['', 'Highest Price', '₹12,099', ''],
 ['', 'Current Price*', '₹10,999', ''],
 ['', 'Lowest Price', '₹9,999', ''],
 ['', 'Highest Price', '₹12,099', '']]

In [101]:
d=[]
e=[]
for i in b:
    if type(i)==str:
        d.append(i)
    elif type(i)==int:
        e.append(i)
    else:
        continue

In [102]:
import pandas as pd

In [103]:
df= pd.DataFrame(b)

In [104]:
df

  0               1        2 3
0    Current Price*  ₹10,999
1      Lowest Price   ₹9,999
2     Highest Price  ₹12,099
3    Current Price*  ₹10,999
4      Lowest Price   ₹9,999
5     Highest Price  ₹12,099

In [105]:
df.drop(3,axis =1,inplace =True)

In [106]:
df[df.duplicated()]

  0               1        2
3    Current Price*  ₹10,999
4      Lowest Price   ₹9,999
5     Highest Price  ₹12,099

In [107]:
df.drop_duplicates(inplace = True)

In [108]:
df

  0               1        2
0    Current Price*  ₹10,999
1      Lowest Price   ₹9,999
2     Highest Price  ₹12,099